<template>
  <f7-page>
    <f7-card class="demo-card-header-pic">
  <f7-card-header
    class="no-border"
    valign="bottom"
    style="background-image:url(http://lorempixel.com/1000/600/people/6/)"
  >Journey To Mountains</f7-card-header>
  <f7-card-content>
    <p class="date">Posted on January 21, 2015</p>
    <p>Quisque eget vestibulum nulla. Quisque quis dui quis ex ultricies efficitur vitae non felis. Phasellus quis nibh hendrerit...</p>
  </f7-card-content>
  <f7-card-footer>
    <f7-link href="/login/">Like</f7-link>
    <f7-link>Read more</f7-link>
  </f7-card-footer>
</f7-card>

    



  </f7-page>
</template>
<script>
export default {
  name: 'Home',
  data() {
    return {
      title: 'Hello World'
    };
  }
};
</script>
