<template>
  <f7-page no-toolbar no-navbar no-swipeback login-screen>
    <f7-login-screen-title>Restem авторизация</f7-login-screen-title>
    <f7-list form>
      <f7-list-item>
        <f7-label>Телефон</f7-label>
        <f7-input type="text" placeholder="Ваш номер телефона" @input="phone = $event.target.value"></f7-input>
      </f7-list-item>
      <f7-list-item>
        <f7-label>Пароль</f7-label>
        <f7-input type="password" placeholder="Ваш пароль" @input="password = $event.target.value"></f7-input>
      </f7-list-item>
    </f7-list>
    <f7-list>
      <f7-list-button @click="signIn">Войти</f7-list-button>
      <f7-block-footer>
        Не можете войти?
          <f7-link popup-open="#remember">Забыли пароль?</f7-link>
        или
        <f7-link popup-open="#sing-up">Регистрация</f7-link>
        </f7-block-footer>
    </f7-list>
    <f7-popup id="remember" :opened="popupOpened" @popup:closed="popupOpened = false">
      <f7-page>
        <f7-navbar title="Popup Title">
          <f7-nav-right>
            <f7-link popup-close>Закрыть</f7-link>
          </f7-nav-right>
        </f7-navbar>
        <f7-block>
          <p>Here comes popup. You can put here anything, even independent view with its own navigation. Also not, that by default popup looks a bit different on iPhone/iPod and iPad, on iPhone it is fullscreen.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
          <p>Duis ut mauris sollicitudin, venenatis nisi sed, luctus ligula...</p>
        </f7-block>
      </f7-page>
    </f7-popup>
    <f7-popup id="sing-up" :opened="popupOpened" @popup:closed="popupOpened = false">
      <f7-page>
        <f7-navbar title="Popup Title">
          <f7-nav-right>
            <f7-link popup-close>Закрыть</f7-link>
          </f7-nav-right>
        </f7-navbar>
        <f7-block>
          <p>Here comes popup. You can put here anything, even independent view with its own navigation. Also not, that by default popup looks a bit different on iPhone/iPod and iPad, on iPhone it is fullscreen.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
          <p>Duis ut mauris sollicitudin, venenatis nisi sed, luctus ligula...</p>
        </f7-block>
      </f7-page>
    </f7-popup>
  </f7-page>
  

</template>


<script>
  export default {
    data() {
      return {
        phone: '',
        password: '',
      };
    },
    methods: {
      signIn() {
        const self = this;
        const app = self.$f7;
        const router = self.$f7router;
        app.dialog.alert(`Username: ${self.phone}<br>Password: ${self.password}`, () => {
          router.back();
        });
      },
    },
  };
</script>