/* Your app styles here */

.md .navbar {
    background-color: #fff;
    color: #333;
    z-index: 10000;
}

.md .toolbar {
    background-color: #2d353c;
    bottom: 104px !important;
    z-index: 999999;
}

.md .tabbar .tab-link-highlight,
.md .tabbar-labels .tab-link-highlight {
    background: #889097;
}

.md .navbar+.toolbar:not(.toolbar-bottom-md):not(.messagebar) {
    bottom: 0px;
    top: auto;
}

.md .tabbar .tab-link-highlight {
    top: 0;
    bottom: auto;
}

.md .toolbar:after {
    content: none;
}

.md .page-with-subnavbar .navbar-inner {
    padding: 0 10px;
}

.md .button {
    min-width: 36px;
}

i.icon {
    color: #333;
}

.panel-left .list {
    padding: 0px!important;
    margin: 0px!important;
}