<template>
   <!-- App -->
   <div id="app">
      <!-- Statusbar -->
      <f7-statusbar></f7-statusbar>
      <f7-navbar>
         <f7-nav-left>
            <f7-link>
               <f7-button raised panel-open="left">
                  <f7-icon f7="bars"></f7-icon>
               </f7-button>
            </f7-link>
         </f7-nav-left>
         <f7-nav-title>Restem</f7-nav-title>
      </f7-navbar>
      <!-- Main View -->
      <f7-panel left reveal>
         <f7-view>
            <f7-page>
               <f7-block>
                 <f7-list>
  <f7-list-group>

    <f7-list-item href="/category/demo/" title="Aaron "></f7-list-item>
    <f7-list-item link="/category/demo/" title="Abbie"></f7-list-item>
    <f7-list-item link="/category/demo/" title="Adam"></f7-list-item>
  </f7-list-group>
  <f7-list-group>

    <f7-list-item link="/category/demo/" title="Bailey"></f7-list-item>
    <f7-list-item link="/category/demo/" title="Barclay"></f7-list-item>
    <f7-list-item link="/category/demo/" title="Bartolo"></f7-list-item>
  </f7-list-group>
  <f7-list-group>
 
    <f7-list-item link="/category/demo/" title="Caiden"></f7-list-item>
    <f7-list-item link="/category/demo/" title="Calvin"></f7-list-item>
    <f7-list-item back="true" link="/category/demo/" title="Candy TEST"></f7-list-item>
  </f7-list-group>
</f7-list>
               </f7-block>
            </f7-page>
         </f7-view>
      </f7-panel>
      <f7-view id="main-view" main></f7-view>
      <f7-toolbar tabbar  bottom-md>
    <f7-link  href="/" tab-link-active>Главная</f7-link>
    <f7-link href="/login/">Профиль</f7-link>
    <f7-link href="/basket/">Корзина</f7-link>
  </f7-toolbar>
  
          
        
   </div>
</template>
<script>
export default {
  name: 'App',
  methods: {
    handleBackButton() {
      // NOTE: The back button will behave differently depending on circumstance
      // If the side panel is open, close it
      if (document.querySelector('.panel-left.panel-active')) {
        // This will do nothing when the split-view is open
        return this.$f7.panel.close();
      }
      // Close modals
      // @TODO How to handle modals we shouldn't close like a login-screen?
      if (document.querySelector('.modal-in')) {
        return this.$f7.popover.close();
      }
      // If we have a back button, we want it to go back
      if (this.$f7.views.main.router.history.length > 1) {
        return this.$f7.views.main.router.back();
      }
      // Default to closing the app
      return window.navigator.app.exitApp();
    }
  },
  computed: {
    isiOS() {
      return this.$theme.ios;
    }
  },
  created() {
    document.addEventListener('backbutton', this.handleBackButton);
  }
};
</script>